<strong>Aviso</strong>
<p>Sucesso!, o estudante abaixo está matrículado:</p>
<p>
  <strong>Estudante: </strong> {{ student }} <br />
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Início das aulas: </strong> {{ start_date }} <br />
  <strong>Término das aulas: </strong> {{ end_date }} <br />
  <small>
    Boas aulas!
  </small>
</p>
